<?xml version="1.0"?>
<config>
    <modules>
        <Mizbah_Blog>
            <version>1.0.0</version>
        </Mizbah_Blog>
    </modules>
    <global>
        <blocks>
            <mizbah_blog>
                <class>Mizbah_Blog_Block</class>
            </mizbah_blog>
        </blocks>
        <helpers>
            <mizbah_blog>
                <class>Mizbah_Blog_Helper</class>
            </mizbah_blog>
        </helpers>
        <models>
            <mizbah_blog>
                <class>Mizbah_Blog_Model</class>
                <resourceModel>mizbah_blog_resource</resourceModel>
            </mizbah_blog>
            <mizbah_blog_resource>
                <class>Mizbah_Blog_Model_Resource</class>
                <entities>
                    <post>
                        <table>mizbah_blog_post</table>
                    </post>
                </entities>
            </mizbah_blog_resource>
        </models>
        <resources>
            <mizbah_blog_setup>
                <setup>
                    <module>Mizbah_Blog</module>
                </setup>
            </mizbah_blog_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mizbah_blog before="Mage_Adminhtml">Mizbah_Blog_Adminhtml</mizbah_blog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <mizbah_blog>
                    <file>mizbah_blog.xml</file>
                </mizbah_blog>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <mizbah_blog>
                    <file>mizbah_blog.xml</file>
                </mizbah_blog>
            </updates>
        </layout>
        <routers>
            <mizbah_blog>
                <use>standard</use>
                <args>
                    <module>Mizbah_Blog</module>
                    <frontName>post_blog</frontName>
                </args>
            </mizbah_blog>
        </routers>
    </frontend>
    <default>
        <mizbah_blog>
            <post>
                <front_name>post_blog</front_name>
            </post>
        </mizbah_blog>
    </default>
</config>